*{
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
}
.cards{
    padding: 50px;
    background-color: #53a71c;
    font-family: 'Solway', serif;
}
.flip-card {
    margin-bottom: 35px;
    background-color: transparent;
    perspective: 1000px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.cards__wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card__img, .flip-card-back, .flip-card{
    width: 180px;
    height: 240px;
}
.flip-card-back{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    transform: rotateY(180deg);
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
} 
.flip-card-front, .flip-card-back {
    position: absolute;
    backface-visibility: hidden;
}
.cards__title{
    position: relative;
    width: 15px;
    padding-bottom: 23px;
    text-align: center;
    font-size: 20px;
}
.cards__title::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 15px;
    height: 20px;
}
.title__end{
    align-self: flex-end;
    transform: scale(-1, -1);
}
.title__start{
    align-self: flex-start;
}
.flip-card-back::after{
    position: absolute;
    content: "";
    width: 50px;
    height: 70px;
    top: calc(50% - 35px);
    left: calc(50% - 25px);
}
.first .flip-card-back::after{
    background-position: 0 2px;
}
.first .cards__title::after{
    background-position: 42px -6px;
}
.second .flip-card-back::after{
    background-position: -83px 0;
}
.second .cards__title::after{
    background-position: 42px -45px;
}
.third .flip-card-back::after{
    background-position: -170px 1px;
}
.third .cards__title::after{
    background-position: 15px -6px;
}
.fourth .flip-card-back::after{
    width: 60px;
    left: calc(50% - 30px);
    background-position: -249px 1px;
}
.fourth .cards__title::after{
    background-position: 15px 24px;
}
.ten .cards__title::after{
    left: 2px;
}
.cards__title::after, .flip-card-back::after{
    background-image: url(./images/suit__spr.png);
}

